#bar-footer {
  background-image: url("images/back_footer_2.jpg");
  background-repeat: repeat-x;
}

#main #share {
  background-image: url("images/share_3.png");
}

.centrado a {
  background-image: url("images/redes_1.png");
}

#nav_sup li {
  background-image: none;
}

.select {
  background-image: url("images/activo_color_0.png");
}

#main .view-search h2 {
  padding-right: 30px;
}

#main .view-search .view-header h2 {
  background-image: url("images/back_03_0.png");
  background-repeat: repeat-x;
  background-attachment: scroll;
  padding-bottom: 5px;
  margin-bottom: 0px;
  color: #cab06c;
  font-size: 24px;
  text-transform: uppercase;
}

body .conexion-front-image {
  background-image: url("images/new_screen_0_0.png");
}

.conexion-front-image {
  background-image: url("images/new_screen_0.png");
}

.conexion-background-image .conexion-front-image {
  background-image: url("images/new_screen.png");
}

#main .view-static-landing-page .top-t a {
  font-size: 0px;
}

.page-node-1191 {
  background-attachment: scroll;
  background-image: url("images/fondo_geral.jpg");
  background-repeat: no-repeat;
}

.page-node-1206 {
  background-image: url("images/color.jpg");
}

#nav_sup ul {
  background-image: url("images/area_color.png");
  background-repeat: no-repeat;
}

#nav_sup ul li {
  background-image: none;
  background-repeat: repeat-y;
}

#main .view-static-landing-page .title h1 {
  font-family: 'Georgia','New Century Schoolbook','Nimbus Roman No9 L','serif';
  font-weight: bold;
  border-bottom-width: 1px;
  border-style: solid;
  padding-bottom: 25px;
  border-color: #694426;
}

#banner-region .media-thumbnail-frame img {
  background-image: none;
  background-attachment: scroll;
  background-repeat: no-repeat;
  border-bottom-width: 1px;
  border-style: solid;
  padding-bottom: 28px;
  border-color: #694426;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 29px;
}

#banner-region .inner {
  border-style: solid;
  border-bottom-width: 0px;
}

#main .view-home-page-article .field-content .st_email_large {
  background-repeat: repeat;
  background-image: url("images/sh_em_3_0.png");
}

body .page-width .lining {
  background-image: none;
}

#main .st_facebook_large {
  background-image: url("images/sh_fb_3_1.png");
  background-attachment: scroll;
}

#main .view-static-landing-page .social-share .st_googleplus_large {
  background-image: url("images/sh_gp_3_10.png");
  background-repeat: no-repeat;
}

.social-share {
  background-image: none;
}

#main .view-home-page-article .st_email_large {
  background-image: url("images/sh_em_3.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
}

#main .view-home-page-article .social-share .st_googleplus_large {
  background-image: url("images/sh_gp_3_13.png");
  background-repeat: repeat;
}

#banner-region .block {
  border-bottom-width: 0px;
  border-style: solid;
  border-color: #694426;
}

.page-width .lining {
  background-image: url(http://clubcolombia2.sabmiller.acsitefactory.com/sites/g/files/ogq681/themes/mythemes/acq_lgomez_osg_session/images/background-complete.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#main .view-static-landing-page .social-share a {
  background-image: none;
}

#main .view-home-page-article .st_facebook_large {
  background-image: url("images/sh_fb_3.png");
}

#main .view-home-page-article .st_googleplus_large {
  background-image: url("images/sh_gp_3_2.png");
  background-repeat: repeat;
}

#main .view-home-page-article .st_twitter_large {
  background-image: url("images/sh_tw_3.png");
}

.masonry-layout .views-field-nothing .views-label {
  margin-top: 0px;
  padding-top: 5px;
}

#header-region #edit-submit-search {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-top-width: 0px;
  border-style: solid;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-left: 0px;
  font-size: 0px;
  background-image: url("images/search-box_2.png");
  background-repeat: no-repeat;
}

.masonry-layout .view-content .views-row .views-field-field-logros-tags .field-content {
  color: #cab06c;
}

.masonry-layout .views-row .views-field-title a {
  margin-left: 0px;
}

#main .view-timeline .logo-wrapper a {
  background-image: url("images/logoheader.png");
}

#main .masonry-layout .views-field-type {
  padding-right: 5px;
  padding-left: 19px;
}

#main .masonry-layout .views-field-type .field-content {
  font-weight: bold;
}

#main .masonry-layout .views-field-nothing a {
  margin-right: 0px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 6px;
  padding-left: 6px;
  margin-bottom: 5px;
}

.masonry-layout .views-field-field-logros-tags .field-content {
  line-height: 90%;
}

#main .view-timeline .view-footer .label-footer {
  background-image: url("images/footer.jpg");
  font-size: 0px;
}

#main .view-timeline .view-header .label-header {
  background-image: url("images/header.jpg");
}

.view-timeline .views-field-title a {
  border-left-width: 0px;
  border-style: solid;
  padding-top: 0px;
  color: #d4bb7c;
  text-decoration: none;
  padding-right: 99px;
}

.page-timeline .view-timeline .views-field-field-year {
  padding-top: 46px;
  background-image: url("images/banderinfecha.png");
  background-repeat: no-repeat;
  text-align: center;
  font-size: 18px;
  color: #000000;
}

.view-timeline .views-field-title {
  padding-top: 26px;
  background-image: url("images/bktextologro.jpg");
  background-repeat: no-repeat;
}

.view-timeline .views-row .views-field-title {
  padding-left: 1px;
  border-right-width: 0px;
  border-style: solid;
  padding-right: 120px;
}

.view-timeline-years .view-content li:hover {
  background-image: url("images/navover.jpg");
}

.view-timeline-years .view-content li {
  background-image: url("images/nav.jpg");
  background-repeat: no-repeat;
}

#main .masonry-layout .views-field-nothing .field-content a {
  margin-right: 1px;
  padding-right: 8px;
  padding-left: 7px;
  padding-top: 7px;
  padding-bottom: 8px;
  margin-left: 0px;
  margin-top: 0px;
}

#main .masonry-layout .views-field-nothing .views-label {
  margin-right: 8px;
}

.st_twitter_large {
  background-image: url("images/sh_tw_3_1.png");
}

.st_facebook_large {
  background-image: url("images/sh_fb_3_4.png");
}

#main .view-home-page-article .field-content .st_googleplus_large {
  background-image: url("images/sh_gp_3_5.png");
}

.st_googleplus_large {
  background-image: none;
}

#header-region .views-widget .form-item #edit-keys {
  background-image: url("images/search-box_0.png");
  padding-top: 1px;
  border-top-width: 0px;
  border-style: solid;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  margin-left: 0px;
  background-repeat: no-repeat;
}

.st_email_large {
  background-image: url("images/sh_em_3_1.png");
}

#main .view-static-landing-page .other-media {
  margin-top: 30px;
}

.view-static-landing-page .article-tweet .bottom-t {
  background-image: url("images/twitter_2_0.jpg");
}

#content .wrapper-1 {
  padding-top: 10px;
}

#main .masonry-layout .views-row .views-field-nothing {
  margin-right: 010px;
  padding-right: 0px;
}

.masonry-layout .views-field-field-related-tags .field-content {
  color: #d4bb7c;
}

.view-static-landing-page .views-field-nothing-1 .field-content .top-t a {
  background-image: url("images/twitter_2.jpg");
  font-size: 0px;
}

#main .view-static-landing-page .bottom-t {
  font-size: 0px;
  background-repeat: no-repeat;
  background-image: url("images/twitter_3.png");
}

#main .view-static-landing-page .article-tweet .top-t {
  background-image: url(http://clubcolombia2.sabmiller.acsitefactory.com/sites/g/files/ogq681/themes/mythemes/acq_lgomez_osg_session/images/twitter_3.jpg);
}

#main .view-static-landing-page .social-share .st_twitter_large {
  background-image: url("images/sh_tw_3_4.png");
}

#main .view-static-landing-page .social-share .st_facebook_large {
  background-image: url("images/sh_fb_3_7.png");
}

.node-type-cervezas {
  background-image: url("images/Bg_CervezasInt_0.jpg");
  background-attachment: scroll;
  background-repeat: repeat;
}

#main .view-nuestras-cervezas .views-field .views-label {
  font-family: 'Georgia','New Century Schoolbook','Nimbus Roman No9 L','serif';
}

#main .view-nuestras-cervezas .views-row .views-field-nothing {
  background-image: url("images/Nuestras_CervezasBg_1.png");
  padding-right: 0px;
}

.page-nuestras-cervezas {
  background-image: url("images/BgCervezasH_0.jpg");
  background-attachment: scroll;
}

#prefooter-first-region .middle {
  border-bottom-width: 0px;
  border-style: solid;
  padding-top: 20px;
  border-color: #694426;
}

#prefooter-first-region .inner {
  border-style: solid;
  border-top-width: 0px;
}

#prefooter-first-region .view-nuestras-cervezas .view-content {
  border-bottom-width: 0px;
  border-style: solid;
  border-color: #694426;
}

#main .view-nuestras-cervezas .views-field-field-beer-tags {
  background-image: url("images/Nuestras_CervezasBg_0.png");
}

#main .view-nuestras-cervezas .views-row .views-field-title {
  background-image: url("images/Nuestras_CervezasBg.png");
  background-repeat: repeat;
}

#content-area .region-content {
  margin-top: 60px;
  border-top-width: 1px;
}

.content-area .region-content .view-logros {
  border-top-width: 1px;
  border-style: solid;
  border-color: #694426;
}

#main #content-area .region-content {
  border-top-width: 0px;
}

#content-area .region-content .view-logros {
  padding-top: 30px;
}

#prefooter-first-region .view-home-page-article .views-field .views-label {
  font-family: 'Helvetica Neue','Helvetica','Arial','sans-serif';
}

#content-area .region-content .view-home-page-article {
  padding-top: 30px;
  border-color: #694426;
  border-top-width: 1px;
  border-style: solid;
}

.node-type-article #prefooter-first-region .inner {
  border-top-width: 1px;
  border-color: #694426;
}

#main .view-nuestras-cervezas .view-content .views-row {
  margin-left: 0px;
  margin-right: 10px;
}

.node-type-logros .view-static-landing-page .views-field .field-content {
  margin-top: 0px;
}

#main .view-logros .views-field .views-label {
  font-family: 'Helvetica Neue','Helvetica','Arial','sans-serif';
}

.node-type-eventos #prefooter-first-region .inner {
  border-top-width: 1px;
  border-color: #694426;
}

.node-type-logros #prefooter-first-region .inner {
  border-top-width: 1px;
  border-color: #694426;
}

#prefooter-first-region .view-logros .social-share .st_googleplus_large {
  background-image: url("images/sh_gp_3_21.png");
}

.node-type-logros #block-views-logros-block-1 {
  margin-top: 0px;
}

.page-nuestras-cervezas #content-area .view-nuestras-cervezas .view-content .views-row-2 {
  margin-left: 0px;
}

.page-nuestras-cervezas #main .view-nuestras-cervezas .view-content .views-row-2 {
  margin-left: 0px;
  border-style: solid;
  border-right-width: 0px;
  margin-right: 56px;
}

#prefooter-first-region #block-views-nuestras-cervezas-block-1 .inner {
  border-bottom-width: 0px;
}

.page-nuestras-cervezas #main .view-nuestras-cervezas .view-content .views-row {
  margin-left: 0px;
  margin-right: 15px;
}

#prefooter-first-region #block-views-nuestras-cervezas-block-2 {
  border-bottom-width: 1px;
}

#main .view-nuestras-cervezas .views-row-3 {
  margin-left: 0px;
}

.page-nuestras-cervezas #main .view-nuestras-cervezas .view-content .views-row-3 {
  margin-left: 0px;
}

#main .view-nuestras-cervezas .view-content .views-row-2 {
  margin-left: 0px;
}

.content-area .region-content {
  margin-top: 70px;
  border-top-width: 1px;
  border-style: solid;
  border-color: #694426;
  padding-right: 0px;
}

#main .masonry-layout .view-content .views-field-field-related-tags .field-content {
  font-family: 'Helvetica Neue','Helvetica','Arial','sans-serif';
}

#main .view-nuestras-cervezas .field-content a {
  margin-top: 0px;
  font-weight: normal;
}

#main .view-nuestras-cervezas .view-content {
  margin-left: 75px;
  margin-top: 114px;
}

#header-region #logo img {
  background-image: none;
}

#header-region .logo-wrapper #logo {
  margin-left: 30px;
}

#header-region #edit-keys {
  background-image: none;
}

#header-region .twitterCC a {
  background-image: url("images/twitterCC_1_0.png");
}

#content-area .region-content .masonry-layout {
  margin-top: 20px;
}

#prefooter-first-region .view-nuestras-cervezas .social-share .st_googleplus_large {
  background-image: url("images/sh_gp_3_12.png");
}

#main .view-static-landing-page .field-content .media-thumbnail-frame {
  margin-top: 0px;
}

#main .view-static-landing-page .content-wrapper-block .social-share {
  margin-bottom: 50px;
  font-family: 'Helvetica Neue','Helvetica','Arial','sans-serif';
}

#main #content-area {
  border-bottom-width: 0px;
  border-style: solid;
}

#prefooter-first-region .view-nuestras-cervezas .social-share .st_twitter_large {
  background-image: url("images/sh_tw_3_6.png");
  background-attachment: scroll;
}

#prefooter-first-region .view-nuestras-cervezas .social-share .st_facebook_large {
  background-image: url("images/sh_fb_3_8.png");
}

#prefooter-first-region .view-nuestras-cervezas .social-share a {
  background-image: url(http://clubcolombia2.sabmiller.acsitefactory.com/sites/g/files/ogq681/themes/mythemes/acq_lgomez_osg_session/images/sh_gp_3_7.png);
}

.social-share .st_googleplus_large {
  background-image: none;
}

#main .view-logros .social-share .st_googleplus_large {
  background-image: url("images/sh_gp_3_18.png");
}

#main .view-static-landing-page .view-content .views-row {
  margin-top: 45px;
  border-color: #694426;
}

#main .view-static-landing-page .views-row .views-field {
  border-bottom-width: 0px;
  border-style: solid;
  border-top-width: 0px;
  border-color: #694426;
  margin-top: 20px;
}

#prefooter-first-region .block h2 {
  margin-bottom: 28px;
  line-height: 133%;
  text-transform: none;
  font-size: 26px;
}

#prefooter-first-region .block {
  border-top-width: 0px;
  border-style: solid;
  padding-top: 30px;
  border-color: #694426;
}

#main .view-home-page-article .views-field .field-content {
  font-family: 'Georgia','New Century Schoolbook','Nimbus Roman No9 L','serif';
}

#main .view-home-page-article .views-field .views-label {
  font-family: 'Helvetica Neue','Helvetica','Arial','sans-serif';
}

#main .view-static-landing-page .views-row {
  margin-top: 60px;
  border-bottom-width: 0px;
  border-style: solid;
  margin-right: 0px;
  margin-left: 0px;
  border-top-width: 1px;
  border-right-width: 0px;
  border-left-width: 0px;
}

#main .view-static-landing-page .body p {
  margin-top: 35px;
  line-height: 154%;
  font-family: 'Helvetica Neue','Helvetica','Arial','sans-serif';
  font-size: 16px;
  text-align: left;
}

.view-logros .views-field-nothing .field-content .social-share .st_googleplus_large {
  background-image: none;
}

.views-field-nothing .field-content .social-share .st_googleplus_large {
  background-image: url("images/sh_gp_3_20.png");
}

.view-logros .views-field-nothing .field-content .st_googleplus_large {
  background-image: none;
}

#prefooter-first-region .view-home-page-article .social-share .st_googleplus_large {
  background-image: url("images/sh_gp_3_19.png");
}

#header-region li {
  background-repeat: repeat;
}

#header-region ul .level-1 {
  background-image: url("images/menu-divider_1.png");
}

.page-node-636 #main #footer #share {
  background-image: url("images/share_0_0.png");
}

#footer .centrado {
  background-image: url("images/share_2.png");
}

#main .view-article-detail .redes .twitter {
  background-image: url("images/sh_tw_0.png");
  background-repeat: no-repeat;
  padding-bottom: 5px;
  padding-right: 12px;
}

#main .view-article-detail .redes a {
  padding-right: 12px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-top: 10px;
  margin-top: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
  margin-left: 3px;
}

#main .view-article-detail .redes .facebook {
  background-image: url("images/sh_fb_0.png");
  background-repeat: no-repeat;
  padding-bottom: 5px;
  padding-top: 0px;
  padding-right: 20px;
  padding-left: 0px;
}

#main .view-article-detail .redes .google-plus {
  background-image: url("images/sh_gp_0.png");
  background-repeat: no-repeat;
  border-bottom-width: 0px;
  border-style: solid;
  padding-bottom: 5px;
}

#main .view-article-detail .redes .gmail {
  background-repeat: no-repeat;
  background-image: url("images/sh_em_0.png");
  padding-bottom: 5px;
  padding-right: 12px;
}

#main .view-article-detail .view-footer {
  margin-top: 30px;
  margin-right: 40px;
}

#main .view-article-detail .redes .label {
  margin-right: 11px;
  font-size: 12px;
}

.view-article-detail .views-row {
  padding-top: 40px;
}

.view-article-detail .view-header .redes a {
  font-size: 0px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.view-article-detail .views-field-field-tags .field-content {
  font-size: 16px;
  color: #696969;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
}

.node-type-article .view-article-detail .views-row {
  margin-top: 0px;
  padding-left: 45%;
}

.view-article-detail .views-field-title .field-content {
  font-weight: bold;
  font-size: 28px;
  line-height: 114%;
  letter-spacing: 0px;
}

.view-article-detail .views-field-body p {
  font-size: 14px;
  line-height: 140%;
}

.view-article-detail .views-field-field-content-media .media-thumbnail-frame {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 15%;
}

.view-article-detail .views-field-body {
  margin-bottom: 25px;
}

#main .view-article-detail .article-tweet {
  padding-top: 0px;
  border-bottom-width: 0px;
  border-style: solid;
  margin-left: 15px;
}

#main .view-article-detail .views-field-field-tags .field-content {
  font-size: 18px;
}

.page-node-411 .header {
  background-color: #000000;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 10px;
  padding-left: 11px;
  border-right-width: 0px;
  border-style: solid;
  text-align: center;
}

#header-region a {
  font-size: 17px;
}

#main .footer {
  background-image: url("images/back_footer.jpg");
}

#main .centrado {
  background-repeat: no-repeat;
  background-image: url("images/barLogros.png");
}

#main .facebook-link {
  padding-left: 99px;
  background-image: url("images/home_txt3.png");
  background-repeat: no-repeat;
}

#main .social-links .centrado {
  background-image: url("images/share_0.png");
  background-repeat: no-repeat;
}

#header-region #search-block-form {
  margin-right: 10px;
}

#header-inner .box {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#main .view-article-detail .view-content .views-row {
  margin-right: 10px;
}

#main .view-article-detail .field-content p {
  text-align: justify;
  line-height: 150%;
  font-size: 13px;
}

#main .view-article-detail .views-row .field-content p {
  line-height: 170%;
}

#main .view-article-detail .views-field-body {
  margin-right: 30px;
}

#main .view-article-detail .view-header {
  margin-right: 50px;
}

#main .view-article-detail .views-field-title {
  text-align: justify;
}

#main .view-home-page-article .views-row {
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.view-home-page-article .views-field-field-related-tags .field-content {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}

#header-region #edit-search-block-form--2 {
  background-color: #000000;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-style: solid;
  border-color: #cab06c;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
}

#header-region ul {
  padding-left: 0px;
}

#header-region #edit-submit {
  font-size: 0px;
  border-left-width: 1px;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-color: #cab06c;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  background-image: url("images/search2.png");
  background-attachment: scroll;
  background-color: #000000;
  background-repeat: no-repeat;
}

#header-region .block-search {
  margin-top: 38px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}

#header-region .redesCC a {
  font-size: 0px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

#header-region .redesCC {
  padding-left: 19px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  background-image: none;
  background-repeat: no-repeat;
}

#header-region #logo {
  margin-right: 0px;
  margin-left: 30px;
}

#content-inner {
  border-top-width: 0px;
  margin-top: 0px;
  padding-top: 0px;
}

#header-region .level-1 a {
  font-size: 15px;
  color: #cab06c;
  font-family: 'Courier New','Courier','monospace';
  font-weight: bold;
  text-transform: none;
}

#header {
  background-image: none;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #694426;
}

#header-region .level-1 {
  padding-right: 42px;
  padding-left: 42px;
  margin-top: 45px;
  margin-bottom: 0px;
  border-right-width: 0px;
  border-style: solid;
  border-color: #cab06c;
  background-repeat: no-repeat;
  background-image: url("images/menu-divider_0.png");
  background-attachment: scroll;
}

#header-inner {
  background-image: url("images/header-back_1.png");
  margin-top: 0px;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

body {
  background-color: #000000;
  font-size: 14px;
  background-attachment: fixed;
  background-image: url("images/background-complete_1.jpg");
  font-family: 'Georgia','New Century Schoolbook','Nimbus Roman No9 L','serif';
  font-weight: normal;
}

#header-region .last {
  border-right-width: 0px;
}

.twitterCC a {
  background-image: url("images/twitterCC.png");
  background-repeat: repeat-x;
}

.youtubeCC a {
  background-image: url("images/youtubeCC.png");
  background-repeat: repeat-x;
}

.instagramCC a {
  background-image: url("images/instagramCC.png");
  background-repeat: repeat-x;
}

#header-region .faceboockCC a {
  background-image: url("images/facebookCC_1.png");
  background-repeat: repeat-x;
}

.view-home-page-article .views-field-nothing .views-label {
  font-size: 11px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-style: solid;
  margin-top: 2px;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.view-home-page-article .views-field-nothing .gmail {
  background-image: url("images/sh_em.png");
  background-repeat: no-repeat;
}

.view-home-page-article .views-field-nothing {
  border-right-width: 0px;
  border-style: solid;
  padding-right: 10px;
}

#banner {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.view-home-page-article .views-field-field-related-tags .field-content a {
  font-size: 11px;
  font-weight: normal;
  color: #cab06c;
}

#header-inner #header-region .last {
  border-right-width: 0px;
}

.view-home-page-article .views-field-nothing .google-plus {
  background-image: url("images/sh_gp.png");
}

.view-home-page-article .views-field-nothing .twitter {
  background-image: url("images/sh_tw.png");
  background-repeat: no-repeat;
}

.view-home-page-article .views-row {
  background-color: #232323;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

#header-region .content .redesCC {
  background-repeat: no-repeat;
  padding-top: 5px;
  margin-right: 20px;
  border-bottom-width: 0px;
  border-style: solid;
}

.view-home-page-article .field-content a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.view-home-page-article .views-field-title {
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.view-home-page-article .views-field-nothing a {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 1px;
  margin-right: 1px;
  margin-bottom: 1px;
  margin-left: 1px;
}

.view-home-page-article .views-field-nothing .facebook {
  background-image: url("images/sh_fb.png");
  background-repeat: no-repeat;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

#main .main-body {
  text-align: center;
}

.page-node-411 #main .main-body-links .facebook-link {
  text-align: right;
  padding-left: 0px;
}

.masonry-layout .view-content .views-row .views-field-nothing .field-content a {
  border-right-width: 0px;
  border-style: solid;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  margin-top: 1px;
  margin-right: 1px;
  margin-bottom: 1px;
  margin-left: 1px;
}

.masonry-layout .views-field-nothing a {
  margin-top: 1px;
}

.masonry-layout .views-field-type {
  background-image: url("images/title-band_01.png");
  background-repeat: repeat;
  border-right-width: 0px;
  border-style: solid;
  padding-left: 20px;
  padding-right: 10px;
  font-weight: normal;
  font-size: 16px;
  padding-bottom: 3px;
  padding-top: 5px;
}

.masonry-layout .view-content .views-row .views-field-nothing .field-content .facebook {
  background-repeat: repeat;
}

.masonry-layout .view-content .views-row .views-field-nothing .field-content .twitter {
  background-repeat: repeat;
}

.masonry-layout .view-content .views-row .views-field-nothing .field-content .google-plus {
  background-repeat: repeat-x;
}

.masonry-layout .view-content .views-row .views-field-nothing .field-content .gmail {
  background-repeat: repeat;
}

.masonry-layout .views-field-field-beer-tags a {
  text-decoration: none;
  font-family: 'Arial','Helvetica','sans-serif';
  font-weight: normal;
  font-size: 12px;
  color: #cab06c;
}

.masonry-layout .views-field-field-beer-tags {
  padding-left: 10px;
  padding-right: 10px;
  border-bottom-width: 0px;
  border-style: solid;
  color: #cab06c;
}

.page-node-636 #main #logros {
  background-image: url("images/barLogros_0.png");
}

.page-node-636 #main .copy2 {
  border-bottom-width: 0px;
  border-style: solid;
  margin-bottom: 5px;
  margin-top: 5px;
}

.masonry-layout .views-row {
  background-color: #232323;
}

#main .view-home-page-article .views-field-title a {
  font-size: 16px;
  font-weight: bold;
  line-height: 122%;
}

.masonry-layout .views-field-title a {
  font-weight: normal;
  font-size: 16px;
  text-align: left;
  line-height: 122%;
  margin-left: 0px;
}

.view-home-page-article .views-field-title a {
  font-weight: bold;
}

.masonry-layout .views-row .views-field-nothing .field-content .facebook {
  background-image: url("images/sh_fb_1.png");
}

.masonry-layout .view-content .views-field-nothing .field-content .twitter {
  background-image: url("images/sh_tw_1.png");
}

.node-cervezas .next {
  background-image: url("images/next1.jpg");
}

.node-cervezas .before {
  background-image: url("images/back1_0.jpg");
}

.node-cervezas .content .back {
  background-image: url("images/next1_0.jpg");
}

#prefooter-first-region h2 {
  font-size: 24px;
  padding-bottom: 5px;
  margin-bottom: 12px;
  background-image: none;
  background-repeat: repeat-x;
  padding-top: 0px;
  padding-right: 30px;
  padding-left: 0px;
}

.masonry-layout .views-field-nothing {
  margin-right: 20px;
}

.masonry-layout .views-field-title .field-content a {
  margin-left: 0px;
}

#main .masonry-layout .view-content .views-row {
  border-bottom-width: 0px;
  border-style: solid;
}

.masonry-layout .view-content .views-row .views-field-nothing {
  border-bottom-width: 0px;
}

.masonry-layout .view-content .views-field-nothing .field-content .gmail {
  background-image: url("images/sh_em_1.png");
}

.masonry-layout .view-content .views-field-nothing .field-content .google-plus {
  background-image: url("images/sh_gp_1.png");
}

.masonry-layout .view-content .views-field-nothing {
  margin-top: 10px;
  border-bottom-width: 5px;
  border-style: solid;
}

.masonry-layout .field-content a {
  text-decoration: none;
}

.masonry-layout .views-field-field-logros-tags {
  border-top-width: 0px;
  border-style: solid;
  margin-top: 5px;
  margin-bottom: 0px;
}

.masonry-layout .views-row .views-field-nothing {
  margin-bottom: 5px;
  border-bottom-width: 0px;
}

.page-node-636 #main #head {
  padding-bottom: 5px;
}

.page-node-636 #head {
  padding-bottom: 5px;
}

#banner-region .webform-component-markup .facebook {
  background-image: url("images/facebookBtn.png");
  background-repeat: repeat-x;
  padding-bottom: 25px;
}

#banner-region #block-webform-client-block-891 {
  background-image: url("images/background_block.jpg");
}

#banner-region .webform-component-markup .hide-text {
  font-size: 0px;
}

#banner-region #webform-component-new-1393318627190 .hide-text {
  padding-right: 62px;
}

#webform-component-new-1393315483493 .form-textarea {
  background-image: url("images/campoTwitt.png");
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

#banner-region #webform-component-new-1393315856690 .twitter {
  background-image: url("images/twitterBtn.png");
  background-repeat: repeat-x;
  padding-bottom: 0px;
  padding-top: 30px;
  padding-right: 61px;
  padding-left: 60px;
}

#content-inner #main .block .content .masonry-layout .views-field-title {
  padding-left: 10px;
}

#main .masonry-layout .views-field-title {
  padding-left: 10px;
}

#main .masonry-layout .views-row .views-field-title {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#main .masonry-layout .views-row .views-field-title a {
  font-size: 16px;
  font-weight: normal;
}

#main .masonry-layout .view-content .views-field-field-related-tags .field-content a {
  color: #cab06c;
  font-size: 12px;
}

#main .masonry-layout .views-field .views-label {
  font-size: 12px;
  font-weight: normal;
}

#main .view-home-page-article .field-content a {
  background-repeat: repeat;
  font-family: 'Georgia','New Century Schoolbook','Nimbus Roman No9 L','serif';
}

#main .masonry-layout .field-content a {
  background-repeat: repeat;
}

#banner-region #edit-submitted-new-1393315483493 {
  color: #fff1c5;
}

#banner-region #webform-component-new-1393315856690 .facebook {
  padding-bottom: 31px;
  margin-bottom: 1px;
}

#footer {
  background-image: none;
  background-repeat: repeat-x;
  border-top-width: 0px;
  margin-top: 10px;
}

#main .masonry-layout .views-field-field-logros-tags a {
  font-weight: bold;
  color: #cab06c;
  font-size: 11px;
}

.page-node-636 #footer {
  background-repeat: repeat-y;
  background-image: url("images/back_footer_1.jpg");
}

.page-node-636 .centrado a {
  background-image: url("images/redes_0.png");
}

#main #head {
  background-color: #000000;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 11px;
}

.page-node-636 #share {
  background-image: url("images/share_1.png");
}

#main .masonry-layout .views-field-field-logros-tags {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
}

#banner-region #webform-component-new-1393333131426 {
  background-image: url("images/legal.png");
}

#banner-region #webform-component-new-1393315856690 .hide-text {
  margin-left: -8px;
}

#banner-region .resizable {
  margin-top: 0px;
}

#banner-region #webform-component-new-1393318627190 .LogoMarcaPais {
  background-image: url("images/LogoMarcaPais.png");
  background-repeat: no-repeat;
}

#banner-region #edit-submitted-new-1393316038201 .form-item {
  padding-right: 440px;
  background-image: url("images/check.png");
  background-repeat: no-repeat;
  margin-left: auto;
}

#webform-component-new-1393327568060 {
  background-image: url("images/copy.png");
}

#banner-region #webform-component-new-1393327568060 {
  font-size: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#preheader {
  background-image: none;
  background-repeat: repeat;
  border-bottom-width: 0px;
}