.view-display-id-block_navidad_diseno{
	/*background: url(@bg-2-mov)  no-repeat 0 100% transparent;*/
	background: no-repeat 0 100% transparent;
	width: 100%;
	background-size: cover;
	-webkit-background-size: auto cover;
	-moz-background-size: auto cover;
	-o-background-size: auto cover;
	padding-bottom: 22px;

	.title-mobile{
		padding: 40px 0;
	}
	.container-general-lata{
		vertical-align: top;
	}
	.container-diseno{
		width: 100%;
		overflow: hidden;
	}
	.view-content{
		> div{
			.container-lata{
				margin: 0 auto 60px;


				.lata{
					float: none;
					display: block;
					margin: 0 auto;
					position: relative;
					background: url(@bg-lata) no-repeat 25% 0 transparent;
					.animacion{
						width: 174px;
						height: 304px;
					}

					img{
						display: block;
						margin: 0 auto;
					}
					.animacion{
						margin: 0 auto;
					}
					.text{
						font-size: 16px;
						font-family: 'rotisReg';
					}
				}
				
				.title{
					text-align: center;
					padding: 37px 0;
					background: url(@misc-tit) no-repeat 50% 100% transparent;
					
				}
				.link{
					background: url(@play) no-repeat 50% 100% transparent;
					cursor: pointer;
					height: 52px;
					width: 100%;
				}
			}
			/*.lata2641 {
				.animacion{
					background-image: url(@bg-lata1);
				}
			}
			.lata2646{
				.animacion{
					background-image: url(@bg-lata2);
				}
			}
			.lata2651{
				.animacion{
					background-image: url(@bg-lata3);
				}
			}*/	
		}
		& .text{
			padding: 20px 0 20px 0;
			font-family: 'rotisBold';
			font-size: 18px;
		}
	}	
}

@media @tablet {
	.view-display-id-block_navidad_diseno{
		/*background-image: url(@bg-2);*/
		/*min-height: 950px;*/
		display: table;

		.title-desktop{
			float: left;
			width: 40%;
			display: table;
			position: relative;
			margin-right: 45px;
		}

		.container-diseno{
		/*
			padding-bottom: 30px;
			padding-top: 10px;*/
			height: 174px;
			position: relative;
			margin-bottom: 20px;
			.text{
				p{
					text-align: left;
				}
			}
		}
		.view-display-id-block_navidad_latas{
			padding-bottom: 154px;
		}
		.view-content{
			> div{
				position: relative;
				display: table-cell;
				width: 33.3333333%;

				.container-lata{
					margin: 0;
					padding: 0;
					.lata{
						img{
							
						}
					}
					.title{
						text-align: center;
						background: url(@misc-tit) no-repeat 50% 100% transparent;
						margin-bottom: 20px;
					}
					.text{
						float: none;
						width: 100%;
						display: block;
						vertical-align: top;
						height: auto;
						padding-bottom: 60px;

						p{
							padding: 0 40px 10px;
						}
					}
					.link{
						position: absolute;
						bottom: 0;
					}
				}		
			}
			& .text{
				height: 166px;
				position: relative;
				float: left;
				width: 45%;
				padding: 0;
				display: table;
				
				p{
					display: table-cell;
					vertical-align: middle;
				}
			}
		}	
	}
}

@media @phone {
	.view-display-id-block_navidad_diseno{
		.view-content{
			& .text{
				/*padding-top: 3%;*/
			}
		}	
	}
}