@font-face {
	font-family: 'rotisReg';
	src: url("../fonts/Rotis/RotisSemiSerifStd-Regular.otf") format("opentype");
	src: url("../fonts/Rotis/RotisSemSan.ttf") format("truetype");
}
@font-face {
	font-family: 'rotisBold';
	src: url("../fonts/Rotis/RotisSemiSerifStd-Bold.otf") format("opentype");
	src: url("../fonts/Rotis/RotisSemSanBold.ttf") format("truetype");
}
.view.view-navidad-2015.view-id-navidad_2015.view-display-id-page {
	margin-top: -70px;
	font-family: 'rotisReg';
}
.close{
	display: block;
	width: 32px;
	height: 32px;
	position: absolute;
	z-index: 100;
	right: -37px;
	float: right;
	cursor: pointer;
	background: url(@close-video) no-repeat 50% 50% transparent;
}
#header{
	margin-bottom: 0;	
}
.wrapper{
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
}
img{
	max-width: 100%;
	height: auto;
}
p{
	margin: 0;
	color: @font-1;
	font-size: 18px;
	text-align: center;
}
.view-display-id-block_navidad_diseno, .view-display-id-block_navidad_reserva, .view-display-id-block_ritual {
	width: 100%;
	-webkit-background-size: auto 100%;
	-moz-background-size: auto 100%;
	-o-background-size: auto 100%;
	background-size: auto 100%;
	background-repeat: repeat-x;
	background-position: center center;
}
.container-video, .view-display-id-block_navidad_diseno .view-content, .view-display-id-block_navidad_reserva .view-content, .view-display-id-block_ritual .view-content{
	max-width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}
.title-mobile, .title-desktop{
	display: block;
	margin: 0 auto;
	text-align: center;
}
.title-desktop, .image-desktop{
	display: none;
}

#copyright{
	overflow: hidden;
	background: url(@footer) no-repeat 0 0 transparent;
	background-size: cover;
	-webkit-background-size: auto cover;
	-moz-background-size: auto cover;
	-o-background-size: auto cover;
	display: block !important;

	p{
		line-height: 23px;
		font-size: 13px;	
	}
}

@media @tablet{
	.title-desktop, .image-desktop{
		display: block;
	}
	.title-mobile, .image-mobile{
		display: none;
	}
}