#block-views-menu-navidad-2015-block, #footer{
	display: none;
}

@media @wide{
	#block-views-menu-navidad-2015-block{
		z-index: 99;
		display: block;
		position: fixed;
		top: 95px;
		width: 300px;

		.item-list{
			cursor: pointer;
			width: 62px;
			overflow: hidden;
			-webkit-transition: width 0.2s;
    		transition: width 0.2s;

			&:hover{
				width: 350px;

				li{
					background-color: rgba(0,0,0,0.2);
				}
			}
		}

		ul{
			list-style: none;
			margin: 0 0 0 60px;
			padding-left: 7px;
			border-left: 2px solid @border-3;

			li{
				height: 83px;
				position: relative;
				padding: 0 23px;
				background: none;
				width: 100%;
				margin-bottom: 10px;

				&:before{
					content: " ";
					position: absolute;
					left: -66px;
					background: url(@num-1) no-repeat 0 0 rgba(0, 0, 0, 0.2);
					width: 66px;
					height: 83px;
					z-index: -1;
					cursor: pointer;
					display: block;
				}

				&:hover{
					background: url(@menu) repeat-x 0 0 transparent;
				}
				&:first-child{
					&:before{
						background: url(@num-1) no-repeat 0 0 rgba(0, 0, 0, 0.2);
					}
					a{
						background: url(@item-1) no-repeat 0 11px transparent;
					}
					&:hover, &.menu-active{
						a{
							background-image:  url(@item-1-ov);
						}
						&:before{
							background: url(@num-1-ov) no-repeat 0 0 transparent;
						}
					}
				}
				&:nth-child(2){
					&:before{
						background: url(@num-2) no-repeat 0 0 rgba(0, 0, 0, 0.2);
					}
					a{
						background: url(@item-2) no-repeat 0 11px transparent;
					}
					&:hover{
						a{
							background-image:  url(@item-2-ov);
						}
						&:before{
							background: url(@num-2-ov) no-repeat 0 0 transparent;
						}
					}
				}
				&:nth-child(3){
					&:before{
						background: url(@num-3) no-repeat 0 0 rgba(0, 0, 0, 0.2);
					}
					a{
						background: url(@item-3) no-repeat 0 50% transparent;
					}
					&:hover{
						a{
							background-image:  url(@item-3-ov);
						}
						&:before{
							background: url(@num-3-ov) no-repeat 0 0 transparent;
						}
					}
				}
				&:nth-child(4){
					&:before{
						background: url(@num-4) no-repeat 0 0 rgba(0, 0, 0, 0.2);
					}
					a{
						background: url(@item-4) no-repeat 0 50% transparent;
					}
					&:hover{
						a{
							background-image:  url(@item-4-ov);
						}
						&:before{
							background: url(@num-4-ov) no-repeat 0 0 transparent;
						}
					}
				}
				a{
					height: 100%;
					width: 100%;
					display: block;
					text-indent: -999px;

				}
			}
		}
	}
}

@media @wider{
	#block-views-menu-navidad-2015-block{
		.item-list{
			width: 350px;
			li{
				background-color: rgba(0,0,0,0.2);
			}
		}
	}
}