.view-display-id-block_navidad_reserva{
	/*background: url(@bg-3-mov) no-repeat 0 100% transparent;*/
	background: no-repeat 0 100% transparent;
	width: 100%;
	background-size: cover;
	-webkit-background-size: auto cover;
	-moz-background-size: auto cover;
	-o-background-size: auto cover;
	padding-bottom: 40px;
	
	.title-mobile{
		padding: 50px 0;
	}
	p{
		color: @font-2;
	}
	.text{
		padding: 0 40px;
		p{
			margin-bottom: 20px;
		}
	}
	.image-mobile{
		width: 100%;
		img{
			display: block;
			margin: 0 auto;
		}
	}
}

@media @tablet {
	.view-display-id-block_navidad_reserva{
		/*background-image: url(@bg-3);*/
		/*min-height: 894px;*/
		padding-bottom: 170px;
		padding-top: 35px;

		.title-desktop{
			display: none;
		}
		.container-reserva{
			position: relative;
			.text{
				z-index: 1;
				padding: 140px 50px 0;
				position: absolute;
				width: 34%;
				right: 0;
				top: 40%;
				background: url(@reserva) no-repeat 50% 0 transparent;

				p{
					font-size: 19px;
					color: @font-2;
				}
			}	
		}
	}	
}