.view-display-id-block_ritual{
	/*background: url(@bg-4-mov) no-repeat 0 100% transparent;*/
	background: no-repeat 0 100% transparent;
	width: 100%;
	background-size: cover;
	-webkit-background-size: auto cover;
	-moz-background-size: auto cover;
	-o-background-size: auto cover;
	padding-bottom: 22px;
	
	.title-mobile{
		padding: 60px 0 0;
	}

	.container-ritual{
		width: 100%;
		overflow: hidden;
	}
	.view-display-id-block_navidad_copas{
		padding-bottom: 100px;
	}
	.view-content{
		> div{
			.container-copa{
				padding: 0 20px;

				.copa{
					img{
						display: block;
						margin: 0 auto;
					}
				}
				.title{
					text-align: center;
					padding: 50px 0;
					background: url(@misc-tit) no-repeat 50% 100% transparent;
					margin-bottom: 20px;
				}
				.text{
					padding-top: 0;
				}
			}		
		}
		& .text{
			padding: 50px;
			float: none;
		}
		& .copa{
			float: none;
			display: block;
			margin: 0 auto;
		}
	}
}


@media @tablet{
	.view-display-id-block_ritual{
		overflow: hidden;
		padding-top: 40px;
		padding-bottom: 100px;
		/*background-image: url(@bg-4);*/
			
		.title-desktop{
			float: left;
		}
		.container-ritual{
			position: relative;
			height: 125px;
			margin-bottom: 70px;
			
			.text{
				display: table;
				height: 127px;

				p{
					display: table-cell;
					vertical-align: middle;
				}
			}
		}	
		.view-content{
			> div{
				.container-copa{
					float: left;
					width: 32%;
					padding: 0;

					.copa{
						img{
							display: block;
						}
					}
					.title{
						text-align: center;
						padding: 10px 0 36px 0;
						background: url(@misc-tit) no-repeat 50% 100% transparent;
						margin-bottom: 20px;
					}
					.text{
						padding: 0;
						width: 100%;

						p{
							text-align: center;
							padding: 0 30px;
							font-size: 15px;
						}
					}
				}		
			}
			& .text{
				padding:0;
				float: left;
				width: 58%;

				p{
					text-align: left;
					padding-left: 49px;
				}
			}
			& .copa{
				float: none;
				display: block;
				margin: 0 auto;
			}
		}
	}
}