
/* COLORS */
@font-1: #e1ba79;                     
@font-2: #3d3620;
@font-3: #ffffff;
@font-4: #311c1b; 

@border-1: #382020;                      
@border-2: #1b0101;                      
@border-3: #fff;                      

/* BACKGROUNDS */
/* main backgrounds */
@bg-1: '../images/bg-1.jpg';
@bg-2: '../images/bg-2.jpg';
@bg-3: '../images/bg-3.jpg';
@bg-4: '../images/bg-4.jpg';

@bg-1-mov: '../images/bg-1-mov.jpg';
@bg-2-mov: '../images/bg-2-mov.jpg';
@bg-3-mov: '../images/bg-3-mov.jpg';
@bg-4-mov: '../images/bg-4-mov.jpg';



@misc-tit: '../images/misc-tit.png';
@play: '../images/play.png';
@lines: '../images/lines.png';
@reserva: '../images/reserva.png';

@bg-lata: '../images/bg-lata3.png';
@bg-lata1: '../images/sprites/negra_2.png';
@bg-lata2: '../images/sprites/dorada_5.png';
@bg-lata3: '../images/sprites/roja_2.png';

@close-video: '../images/close.png';


@menu: '../images/menu-bg.jpg';
@menu-sc: '../images/menu-bg-sc.jpg';

@item-1: '../images/menu/menu-inspiracion.png';
@item-2: '../images/menu/menu-diseno.png';
@item-3: '../images/menu/menu-reserva.png';
@item-4: '../images/menu/menu-ritual.png';

@item-1-ov: '../images/menu/menu-inspiracion-ov.png';
@item-2-ov: '../images/menu/menu-diseno-ov.png';
@item-3-ov: '../images/menu/menu-reserva-ov.png';
@item-4-ov: '../images/menu/menu-ritual-ov.png';

@num-1: '../images/menu/menu-01.png';
@num-2: '../images/menu/menu-02.png';
@num-3: '../images/menu/menu-03.png';
@num-4: '../images/menu/menu-04.png';

@num-1-ov: '../images/menu/menu-01-ov.jpg';
@num-2-ov: '../images/menu/menu-02-ov.jpg';
@num-3-ov: '../images/menu/menu-03-ov.jpg';
@num-4-ov: '../images/menu/menu-04-ov.jpg';



@footer: '../images/bg-footer.jpg';

/* MEDIA QUERIES */
@phone:  ~"screen and (min-width:500px)";
@tablet:  ~"screen and (min-width:769px)";
@desktop:  ~"screen and (min-width:992px)";
@wide:  ~"screen and (min-width:1280px)";
@wider:  ~"screen and (min-width:1740px)";
