.video-wrapper{
	/*background: url(@bg-1-mov) no-repeat 0 100% transparent;*/
	background: no-repeat 0 100% transparent;
	padding-bottom: 130px;
	background-size: cover;
	-webkit-background-size: auto cover;
	-moz-background-size: auto cover;
	-o-background-size: auto cover;
	

	.title-mobile{
		padding: 40px 20px 20px 20px;
	}
	.video{
		margin: 20px 0 0;
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
		
		iframe{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

#popup {
	width: 50%;
}

@media screen and (max-width: 768px){
	#popup {
		width: 100%;
	}
}

@media @tablet{
	.video-wrapper{
		/*background-image: url(@bg-1);*/
		.title-desktop{
			padding: 40px 20px 50px 20px;
		}
		.container-video{
			background: url(@lines) no-repeat 100% 100% transparent;
			padding-bottom: 61px;
			padding-top: 90px;
		}
		.video{
			position: relative;
			padding-bottom: 56.25%; /* 16:9 */
			padding-top: 25px;
			height: 0;
			
			iframe{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
}