/* COLORS */
/* BACKGROUNDS */
/* main backgrounds */
/* MEDIA QUERIES */
.page-navidad-2015 .video-wrapper {
  /*background: url(@bg-1-mov) no-repeat 0 100% transparent;*/
  background: no-repeat 0 100% transparent;
  padding-bottom: 130px;
  background-size: cover;
  -webkit-background-size: auto cover;
  -moz-background-size: auto cover;
  -o-background-size: auto cover;
}
.page-navidad-2015 .video-wrapper .title-mobile {
  padding: 40px 20px 20px 20px;
}
.page-navidad-2015 .video-wrapper .video {
  margin: 20px 0 0;
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.page-navidad-2015 .video-wrapper .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.page-navidad-2015 .videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.page-navidad-2015 .videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.page-navidad-2015 #popup {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .page-navidad-2015 #popup {
    width: 100%;
  }
}
@media screen and (min-width:769px) {
  .page-navidad-2015 .video-wrapper {
    /*background-image: url(@bg-1);*/
  }
  .page-navidad-2015 .video-wrapper .title-desktop {
    padding: 40px 20px 50px 20px;
  }
  .page-navidad-2015 .video-wrapper .container-video {
    background: url('../images/lines.png') no-repeat 100% 100% transparent;
    padding-bottom: 61px;
    padding-top: 90px;
  }
  .page-navidad-2015 .video-wrapper .video {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
  }
  .page-navidad-2015 .video-wrapper .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@font-face {
  font-family: 'rotisReg';
  src: url("../fonts/Rotis/RotisSemiSerifStd-Regular.otf") format("opentype");
  src: url("../fonts/Rotis/RotisSemSan.ttf") format("truetype");
}
@font-face {
  font-family: 'rotisBold';
  src: url("../fonts/Rotis/RotisSemiSerifStd-Bold.otf") format("opentype");
  src: url("../fonts/Rotis/RotisSemSanBold.ttf") format("truetype");
}
.page-navidad-2015 .view.view-navidad-2015.view-id-navidad_2015.view-display-id-page {
  margin-top: -70px;
  font-family: 'rotisReg';
}
.page-navidad-2015 .close {
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  z-index: 100;
  right: -37px;
  float: right;
  cursor: pointer;
  background: url('../images/close.png') no-repeat 50% 50% transparent;
}
.page-navidad-2015 #header {
  margin-bottom: 0;
}
.page-navidad-2015 .wrapper {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
}
.page-navidad-2015 img {
  max-width: 100%;
  height: auto;
}
.page-navidad-2015 p {
  margin: 0;
  color: #e1ba79;
  font-size: 18px;
  text-align: center;
}
.page-navidad-2015 .view-display-id-block_navidad_diseno,
.page-navidad-2015 .view-display-id-block_navidad_reserva,
.page-navidad-2015 .view-display-id-block_ritual {
  width: 100%;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
  background-repeat: repeat-x;
  background-position: center center;
}
.page-navidad-2015 .container-video,
.page-navidad-2015 .view-display-id-block_navidad_diseno .view-content,
.page-navidad-2015 .view-display-id-block_navidad_reserva .view-content,
.page-navidad-2015 .view-display-id-block_ritual .view-content {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}
.page-navidad-2015 .title-mobile,
.page-navidad-2015 .title-desktop {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.page-navidad-2015 .title-desktop,
.page-navidad-2015 .image-desktop {
  display: none;
}
.page-navidad-2015 #copyright {
  overflow: hidden;
  background: url('../images/bg-footer.jpg') no-repeat 0 0 transparent;
  background-size: cover;
  -webkit-background-size: auto cover;
  -moz-background-size: auto cover;
  -o-background-size: auto cover;
  display: block !important;
}
.page-navidad-2015 #copyright p {
  line-height: 23px;
  font-size: 13px;
}
@media screen and (min-width:769px) {
  .page-navidad-2015 .title-desktop,
  .page-navidad-2015 .image-desktop {
    display: block;
  }
  .page-navidad-2015 .title-mobile,
  .page-navidad-2015 .image-mobile {
    display: none;
  }
}
.page-navidad-2015 .view-display-id-block_navidad_reserva {
  /*background: url(@bg-3-mov) no-repeat 0 100% transparent;*/
  background: no-repeat 0 100% transparent;
  width: 100%;
  background-size: cover;
  -webkit-background-size: auto cover;
  -moz-background-size: auto cover;
  -o-background-size: auto cover;
  padding-bottom: 40px;
}
.page-navidad-2015 .view-display-id-block_navidad_reserva .title-mobile {
  padding: 50px 0;
}
.page-navidad-2015 .view-display-id-block_navidad_reserva p {
  color: #3d3620;
}
.page-navidad-2015 .view-display-id-block_navidad_reserva .text {
  padding: 0 40px;
}
.page-navidad-2015 .view-display-id-block_navidad_reserva .text p {
  margin-bottom: 20px;
}
.page-navidad-2015 .view-display-id-block_navidad_reserva .image-mobile {
  width: 100%;
}
.page-navidad-2015 .view-display-id-block_navidad_reserva .image-mobile img {
  display: block;
  margin: 0 auto;
}
@media screen and (min-width:769px) {
  .page-navidad-2015 .view-display-id-block_navidad_reserva {
    /*background-image: url(@bg-3);*/
    /*min-height: 894px;*/
    padding-bottom: 170px;
    padding-top: 35px;
  }
  .page-navidad-2015 .view-display-id-block_navidad_reserva .title-desktop {
    display: none;
  }
  .page-navidad-2015 .view-display-id-block_navidad_reserva .container-reserva {
    position: relative;
  }
  .page-navidad-2015 .view-display-id-block_navidad_reserva .container-reserva .text {
    z-index: 1;
    padding: 140px 50px 0;
    position: absolute;
    width: 34%;
    right: 0;
    top: 40%;
    background: url('../images/reserva.png') no-repeat 50% 0 transparent;
  }
  .page-navidad-2015 .view-display-id-block_navidad_reserva .container-reserva .text p {
    font-size: 19px;
    color: #3d3620;
  }
}
.page-navidad-2015 .view-display-id-block_navidad_diseno {
  /*background: url(@bg-2-mov)  no-repeat 0 100% transparent;*/
  background: no-repeat 0 100% transparent;
  width: 100%;
  background-size: cover;
  -webkit-background-size: auto cover;
  -moz-background-size: auto cover;
  -o-background-size: auto cover;
  padding-bottom: 22px;
}
.page-navidad-2015 .view-display-id-block_navidad_diseno .title-mobile {
  padding: 40px 0;
}
.page-navidad-2015 .view-display-id-block_navidad_diseno .container-general-lata {
  vertical-align: top;
}
.page-navidad-2015 .view-display-id-block_navidad_diseno .container-diseno {
  width: 100%;
  overflow: hidden;
}
.page-navidad-2015 .view-display-id-block_navidad_diseno .view-content > div {
  /*.lata2641 {
				.animacion{
					background-image: url(@bg-lata1);
				}
			}
			.lata2646{
				.animacion{
					background-image: url(@bg-lata2);
				}
			}
			.lata2651{
				.animacion{
					background-image: url(@bg-lata3);
				}
			}*/
}
.page-navidad-2015 .view-display-id-block_navidad_diseno .view-content > div .container-lata {
  margin: 0 auto 60px;
}
.page-navidad-2015 .view-display-id-block_navidad_diseno .view-content > div .container-lata .lata {
  float: none;
  display: block;
  margin: 0 auto;
  position: relative;
  background: url('../images/bg-lata3.png') no-repeat 25% 0 transparent;
}
.page-navidad-2015 .view-display-id-block_navidad_diseno .view-content > div .container-lata .lata .animacion {
  width: 174px;
  height: 304px;
}
.page-navidad-2015 .view-display-id-block_navidad_diseno .view-content > div .container-lata .lata img {
  display: block;
  margin: 0 auto;
}
.page-navidad-2015 .view-display-id-block_navidad_diseno .view-content > div .container-lata .lata .animacion {
  margin: 0 auto;
}
.page-navidad-2015 .view-display-id-block_navidad_diseno .view-content > div .container-lata .lata .text {
  font-size: 16px;
  font-family: 'rotisReg';
}
.page-navidad-2015 .view-display-id-block_navidad_diseno .view-content > div .container-lata .title {
  text-align: center;
  padding: 37px 0;
  background: url('../images/misc-tit.png') no-repeat 50% 100% transparent;
}
.page-navidad-2015 .view-display-id-block_navidad_diseno .view-content > div .container-lata .link {
  background: url('../images/play.png') no-repeat 50% 100% transparent;
  cursor: pointer;
  height: 52px;
  width: 100%;
}
.page-navidad-2015 .view-display-id-block_navidad_diseno .view-content .text {
  padding: 20px 0 20px 0;
  font-family: 'rotisBold';
  font-size: 18px;
}
@media screen and (min-width:769px) {
  .page-navidad-2015 .view-display-id-block_navidad_diseno {
    /*background-image: url(@bg-2);*/
    /*min-height: 950px;*/
    display: table;
  }
  .page-navidad-2015 .view-display-id-block_navidad_diseno .title-desktop {
    float: left;
    width: 40%;
    display: table;
    position: relative;
    margin-right: 45px;
  }
  .page-navidad-2015 .view-display-id-block_navidad_diseno .container-diseno {
    /*
			padding-bottom: 30px;
			padding-top: 10px;*/
    height: 174px;
    position: relative;
    margin-bottom: 20px;
  }
  .page-navidad-2015 .view-display-id-block_navidad_diseno .container-diseno .text p {
    text-align: left;
  }
  .page-navidad-2015 .view-display-id-block_navidad_diseno .view-display-id-block_navidad_latas {
    padding-bottom: 154px;
  }
  .page-navidad-2015 .view-display-id-block_navidad_diseno .view-content > div {
    position: relative;
    display: table-cell;
    width: 33.3333333%;
  }
  .page-navidad-2015 .view-display-id-block_navidad_diseno .view-content > div .container-lata {
    margin: 0;
    padding: 0;
  }
  .page-navidad-2015 .view-display-id-block_navidad_diseno .view-content > div .container-lata .title {
    text-align: center;
    background: url('../images/misc-tit.png') no-repeat 50% 100% transparent;
    margin-bottom: 20px;
  }
  .page-navidad-2015 .view-display-id-block_navidad_diseno .view-content > div .container-lata .text {
    float: none;
    width: 100%;
    display: block;
    vertical-align: top;
    height: auto;
    padding-bottom: 60px;
  }
  .page-navidad-2015 .view-display-id-block_navidad_diseno .view-content > div .container-lata .text p {
    padding: 0 40px 10px;
  }
  .page-navidad-2015 .view-display-id-block_navidad_diseno .view-content > div .container-lata .link {
    position: absolute;
    bottom: 0;
  }
  .page-navidad-2015 .view-display-id-block_navidad_diseno .view-content .text {
    height: 166px;
    position: relative;
    float: left;
    width: 45%;
    padding: 0;
    display: table;
  }
  .page-navidad-2015 .view-display-id-block_navidad_diseno .view-content .text p {
    display: table-cell;
    vertical-align: middle;
  }
}
@media screen and (min-width:500px) {
  .page-navidad-2015 .view-display-id-block_navidad_diseno .view-content .text {
    /*padding-top: 3%;*/
  }
}
.page-navidad-2015 .view-display-id-block_ritual {
  /*background: url(@bg-4-mov) no-repeat 0 100% transparent;*/
  background: no-repeat 0 100% transparent;
  width: 100%;
  background-size: cover;
  -webkit-background-size: auto cover;
  -moz-background-size: auto cover;
  -o-background-size: auto cover;
  padding-bottom: 22px;
}
.page-navidad-2015 .view-display-id-block_ritual .title-mobile {
  padding: 60px 0 0;
}
.page-navidad-2015 .view-display-id-block_ritual .container-ritual {
  width: 100%;
  overflow: hidden;
}
.page-navidad-2015 .view-display-id-block_ritual .view-display-id-block_navidad_copas {
  padding-bottom: 100px;
}
.page-navidad-2015 .view-display-id-block_ritual .view-content > div .container-copa {
  padding: 0 20px;
}
.page-navidad-2015 .view-display-id-block_ritual .view-content > div .container-copa .copa img {
  display: block;
  margin: 0 auto;
}
.page-navidad-2015 .view-display-id-block_ritual .view-content > div .container-copa .title {
  text-align: center;
  padding: 50px 0;
  background: url('../images/misc-tit.png') no-repeat 50% 100% transparent;
  margin-bottom: 20px;
}
.page-navidad-2015 .view-display-id-block_ritual .view-content > div .container-copa .text {
  padding-top: 0;
}
.page-navidad-2015 .view-display-id-block_ritual .view-content .text {
  padding: 50px;
  float: none;
}
.page-navidad-2015 .view-display-id-block_ritual .view-content .copa {
  float: none;
  display: block;
  margin: 0 auto;
}
@media screen and (min-width:769px) {
  .page-navidad-2015 .view-display-id-block_ritual {
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 100px;
    /*background-image: url(@bg-4);*/
  }
  .page-navidad-2015 .view-display-id-block_ritual .title-desktop {
    float: left;
  }
  .page-navidad-2015 .view-display-id-block_ritual .container-ritual {
    position: relative;
    height: 125px;
    margin-bottom: 70px;
  }
  .page-navidad-2015 .view-display-id-block_ritual .container-ritual .text {
    display: table;
    height: 127px;
  }
  .page-navidad-2015 .view-display-id-block_ritual .container-ritual .text p {
    display: table-cell;
    vertical-align: middle;
  }
  .page-navidad-2015 .view-display-id-block_ritual .view-content > div .container-copa {
    float: left;
    width: 32%;
    padding: 0;
  }
  .page-navidad-2015 .view-display-id-block_ritual .view-content > div .container-copa .copa img {
    display: block;
  }
  .page-navidad-2015 .view-display-id-block_ritual .view-content > div .container-copa .title {
    text-align: center;
    padding: 10px 0 36px 0;
    background: url('../images/misc-tit.png') no-repeat 50% 100% transparent;
    margin-bottom: 20px;
  }
  .page-navidad-2015 .view-display-id-block_ritual .view-content > div .container-copa .text {
    padding: 0;
    width: 100%;
  }
  .page-navidad-2015 .view-display-id-block_ritual .view-content > div .container-copa .text p {
    text-align: center;
    padding: 0 30px;
    font-size: 15px;
  }
  .page-navidad-2015 .view-display-id-block_ritual .view-content .text {
    padding: 0;
    float: left;
    width: 58%;
  }
  .page-navidad-2015 .view-display-id-block_ritual .view-content .text p {
    text-align: left;
    padding-left: 49px;
  }
  .page-navidad-2015 .view-display-id-block_ritual .view-content .copa {
    float: none;
    display: block;
    margin: 0 auto;
  }
}
.page-navidad-2015 #block-views-menu-navidad-2015-block,
.page-navidad-2015 #footer {
  display: none;
}
@media screen and (min-width:1280px) {
  .page-navidad-2015 #block-views-menu-navidad-2015-block {
    z-index: 99;
    display: block;
    position: fixed;
    top: 95px;
    width: 300px;
  }
  .page-navidad-2015 #block-views-menu-navidad-2015-block .item-list {
    cursor: pointer;
    width: 62px;
    overflow: hidden;
    -webkit-transition: width 0.2s;
    transition: width 0.2s;
  }
  .page-navidad-2015 #block-views-menu-navidad-2015-block .item-list:hover {
    width: 350px;
  }
  .page-navidad-2015 #block-views-menu-navidad-2015-block .item-list:hover li {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .page-navidad-2015 #block-views-menu-navidad-2015-block ul {
    list-style: none;
    margin: 0 0 0 60px;
    padding-left: 7px;
    border-left: 2px solid #fff;
  }
  .page-navidad-2015 #block-views-menu-navidad-2015-block ul li {
    height: 83px;
    position: relative;
    padding: 0 23px;
    background: none;
    width: 100%;
    margin-bottom: 10px;
  }
  .page-navidad-2015 #block-views-menu-navidad-2015-block ul li:before {
    content: " ";
    position: absolute;
    left: -66px;
    background: url('../images/menu/menu-01.png') no-repeat 0 0 rgba(0, 0, 0, 0.2);
    width: 66px;
    height: 83px;
    z-index: -1;
    cursor: pointer;
    display: block;
  }
  .page-navidad-2015 #block-views-menu-navidad-2015-block ul li:hover {
    background: url('../images/menu-bg.jpg') repeat-x 0 0 transparent;
  }
  .page-navidad-2015 #block-views-menu-navidad-2015-block ul li:first-child:before {
    background: url('../images/menu/menu-01.png') no-repeat 0 0 rgba(0, 0, 0, 0.2);
  }
  .page-navidad-2015 #block-views-menu-navidad-2015-block ul li:first-child a {
    background: url('../images/menu/menu-inspiracion.png') no-repeat 0 11px transparent;
  }
  .page-navidad-2015 #block-views-menu-navidad-2015-block ul li:first-child:hover a,
  .page-navidad-2015 #block-views-menu-navidad-2015-block ul li:first-child.menu-active a {
    background-image: url('../images/menu/menu-inspiracion-ov.png');
  }
  .page-navidad-2015 #block-views-menu-navidad-2015-block ul li:first-child:hover:before,
  .page-navidad-2015 #block-views-menu-navidad-2015-block ul li:first-child.menu-active:before {
    background: url('../images/menu/menu-01-ov.jpg') no-repeat 0 0 transparent;
  }
  .page-navidad-2015 #block-views-menu-navidad-2015-block ul li:nth-child(2):before {
    background: url('../images/menu/menu-02.png') no-repeat 0 0 rgba(0, 0, 0, 0.2);
  }
  .page-navidad-2015 #block-views-menu-navidad-2015-block ul li:nth-child(2) a {
    background: url('../images/menu/menu-diseno.png') no-repeat 0 11px transparent;
  }
  .page-navidad-2015 #block-views-menu-navidad-2015-block ul li:nth-child(2):hover a {
    background-image: url('../images/menu/menu-diseno-ov.png');
  }
  .page-navidad-2015 #block-views-menu-navidad-2015-block ul li:nth-child(2):hover:before {
    background: url('../images/menu/menu-02-ov.jpg') no-repeat 0 0 transparent;
  }
  .page-navidad-2015 #block-views-menu-navidad-2015-block ul li:nth-child(3):before {
    background: url('../images/menu/menu-03.png') no-repeat 0 0 rgba(0, 0, 0, 0.2);
  }
  .page-navidad-2015 #block-views-menu-navidad-2015-block ul li:nth-child(3) a {
    background: url('../images/menu/menu-reserva.png') no-repeat 0 50% transparent;
  }
  .page-navidad-2015 #block-views-menu-navidad-2015-block ul li:nth-child(3):hover a {
    background-image: url('../images/menu/menu-reserva-ov.png');
  }
  .page-navidad-2015 #block-views-menu-navidad-2015-block ul li:nth-child(3):hover:before {
    background: url('../images/menu/menu-03-ov.jpg') no-repeat 0 0 transparent;
  }
  .page-navidad-2015 #block-views-menu-navidad-2015-block ul li:nth-child(4):before {
    background: url('../images/menu/menu-04.png') no-repeat 0 0 rgba(0, 0, 0, 0.2);
  }
  .page-navidad-2015 #block-views-menu-navidad-2015-block ul li:nth-child(4) a {
    background: url('../images/menu/menu-ritual.png') no-repeat 0 50% transparent;
  }
  .page-navidad-2015 #block-views-menu-navidad-2015-block ul li:nth-child(4):hover a {
    background-image: url('../images/menu/menu-ritual-ov.png');
  }
  .page-navidad-2015 #block-views-menu-navidad-2015-block ul li:nth-child(4):hover:before {
    background: url('../images/menu/menu-04-ov.jpg') no-repeat 0 0 transparent;
  }
  .page-navidad-2015 #block-views-menu-navidad-2015-block ul li a {
    height: 100%;
    width: 100%;
    display: block;
    text-indent: -999px;
  }
}
@media screen and (min-width:1740px) {
  .page-navidad-2015 #block-views-menu-navidad-2015-block .item-list {
    width: 350px;
  }
  .page-navidad-2015 #block-views-menu-navidad-2015-block .item-list li {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
